name: Mirror to AK Glorius Group Repo

on:
  push:
    branches:
      - master
      - gh-pages

jobs:
    mirror:
        runs-on: ubuntu-latest
        name: mirror
        steps:
          # 1. Checkout your code (fetch-depth: 0 is crucial for a full mirror)
          - uses: actions/checkout@v4
            with:
              fetch-depth: 0

          # 2. Run the mirror command manually
          - name: Push to Mirror
            run: |
              git push --mirror https://oauth2:${{ secrets.GPUMA_MIRROR_GROUP_REPO_TOKEN }}@github.com/GloriusGroup/gpuma.git
