name: Mirror to AK Glorius Group Repo

on:
  push:
    branches:
      - master
      - gh-pages

jobs:
    mirror:
        runs-on: ubuntu-latest
        name: mirror
        steps:
          - name: mirror
            id: mirror
            uses: bridgelightcloud/github-mirror-action@v1
            with:
              origin: 'https://github.com/GloriusGroup/gpuma.git'
              GITHUB_TOKEN: ${{ secrets.GPUMA_MIRROR_GROUP_REPO_TOKEN }}
